.container-section {
    margin-top: 100px;
    width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

.section-content {
    padding: 50px 0;

}

.content-row {
    width: 100%;
    display: flex;

}

.content-image {
    width: 100%;
    max-width: 50%;
}

.content-text {
    max-width: 50%;
    width: 100%;
}

.text {
    text-align: justify;
    padding-left: 30px;
    font-size: 1.4rem;

}

.text-heading {
    text-align: center;
    font-family: serif;
}