.content-product-details {
    width: 1400px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;

}

.details-item {
    display: flex;
    margin-bottom: 100px;
}

.content-img {
    width: 500px;
}

.img-item {
    max-width: 80%;
    border: solid 1px #cccccc;
    border-radius: 15px;
}

.content-info {
    margin-top: 20px;
}

.name-item {
    color: #333;
    margin-bottom: 30px;
    font-weight: bold;
    text-transform: capitalize;

}


.info-price {
    color: var(--primary);
    font-size: 36px;
    font-weight: 900;
    line-height: 42px;
    margin-bottom: 20px;
}

.info-quantity {
    margin-bottom: 20px;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 10px;
    font-weight: 700;
}



.add-item span {

    width: 40px;
    height: 40px;
    display: table-cell;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
}

.change-decrease {
    border-radius: 4px 0 0 4px;
    color: var(--primary);
    font-size: 20px;
    font-weight: 900;
}

.quantity {
    border-left: none;
    border-right: none;
    border: 1px solid var(--primary);
    border-radius: 40%;
}

.change-increase {
    border-radius: 0 4px 4px 0;
    color: var(--primary);
    font-size: 20px;

}

.btn-add {
    padding: 10px;
    font-size: 1.8rem;
}

.btn-cart {
    margin-left: 5px;
}

.details-about {
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.12);
    border-radius: 6px;
    padding: 80px 50px;
    margin-top: 80px;
    margin-bottom: 50px;
}

.row {
    align-items: center;
    justify-content: space-around;
}

.info {
    line-height: 28px;
    margin-right: 20px;
}

p {
    text-align: justify;

}