.wrapper {
    height: 100px;
    /* display: flex; */
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

ul {
    margin-bottom: unset;
}

a {
    text-decoration: none;
    color: var(--primary);
}

.inner {
    width: 1400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}

.ulHeader,
.liItem {
    padding: 0 24px;
    display: inline-block;
    font-size: 2.1rem;
    font-weight: bold;
}

.liItem {
    list-style: none;
}

.cart-number {
    position: relative;
    top: -15px;
    right: 8px;
    padding: 1px 4px;
    font-size: 1.5rem;
    line-height: 1rem;
    border-radius: 50%;
    border: 2px solid var(--primary);
    color: #fff;
    background-color: var(--primary);
}

.dn {

    padding: unset;
    float: right;
}

.navdropdown {
    float: right;
    color: var(--primary);

}

.dropdown-menu.show {
    font-size: 1.5rem;
}